table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .table-title{
      text-align: center;
  }








  .box {
    border: 1px;;
    border-color: red;
    border-style: solid;
  }
  
  .item {
    width: 100px;
    /* height: 50px; */
    background-color: #FFDE49;
    margin: 10px;
    text-align: center;
  }
  